<form [formGroup]="jobForm" (ngSubmit)="onFormSubmit()">
    <label for="id">id</label>
    <input id="id" type="number" formControlName="id">
    <label for="title">titre</label>
    <input id="title" type="text" formControlName="title">
    <label for="description">description</label>
    <input id="description" type="text" formControlName="description">
    <label for="dateOfPublish">date de publication</label>
    <input id="dateOfPublish" type="date" formControlName="dateOfPublish">
    <label for="salary">salary</label>
    <input id="salary" type="text" formControlName="salary">
    <label for="location">emplacement</label>
    <input id="location" type="date" formControlName="location">
    <input type="submit" id="submit">
</form>
<ul>
    <li *ngFor="let job of "></li>
</ul>
