<form>
    <label for="id">id</label>
    <input id="id" type="number" [formControl]="id">
    <label for="title">titre</label>
    <input id="title" type="text" [formControl]="title">
    <label for="description">description</label>
    <input id="description" type="text" [formControl]="description">
    <label for="dateOfPublish">date de publication</label>
    <input id="dateOfPublish" type="date" [formControl]="dateOfPublish">
    <label for="salary">salary</label>
    <input id="salary" type="text" [formControl]="salary">
    <label for="location">emplacement</label>
    <input id="location" type="date" [formControl]="location">
    <input type="button" id="submit">
</form>
